body {
    background-color: #000000;
    color: white;
    font-family: "Ubuntu", Static;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 670px;
    margin: 0;
}

button {
    background-color: #6c00b4;
    color: white;
    font-family: "Bai Jamjuree", sans-serif;
}


.passo {
    display: none;
}

.passo.ativo {
    display:block;
}


main {
    text-align: center;
    max-width: 85%;
}

img {
    max-width: 87%;
}